@import "/src/assets/scss/abstracts/variables.scss";

.to-do-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  @media screen and (max-width: 800px) {
    display: flex;
    grid-template-columns: unset;
    flex-direction: column-reverse;
  }
}
